services:
  api:
    env_file:
      - .env.docker
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_ENV: development
    image: myapp:dev
    volumes:
      - ./:/app
      - /app/node_modules
    command: npm start
    depends_on:
      - mongo
    networks:
      - backend
      - monitoring

  test:
    env_file:
      - .env.docker
    build:
      context: .
      dockerfile: Dockerfile
      target: deps
      args:
        NODE_ENV: development
    image: myapp:test
    command: sh -c "npm run test:unit && npm run test:api"
    depends_on:
      - mongo            # убрали зависимость от api
    networks:
      - backend

networks:
  backend:
    driver: bridge
  monitoring:
    driver: bridge